.heading {
  color: limegreen;
}

.sub-heading {
  color: red;
}

#text {
  color: green;
}

#reverse-btn {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  color: white;
}
